<div id="movies_show">
  <% @movies.each do |movie| %>
  <fieldset>
    <div>
      <ul>
        <li id="movie_name"><%= movie.title %></li>
      </ul>
    </div>
    <div>
      <ul>

      </ul>
    </div>
    </fieldset>
    <% end %>
</div>
